# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
ENV/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Data volumes (manter samples versionados)
data/raw/*
!data/raw/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep
logs/*
!logs/.gitkeep

# Spark / local
spark-warehouse/
metastore_db/
*.log

# Office temp
~$*
